@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@import 'react-quill-new/dist/quill.snow.css';

@font-face {
  font-family: 'duggeunmo';
  src: url('../../public/fonts/DungGeunMo.woff2') format('woff2');
}

@font-face {
  font-family: 'pretendard';
  src: url('../../public/fonts/PretendardVariable.woff2') format('woff2');
}

html,
body {
  box-sizing: border-box;
  min-height: 100vh;
}
